<!doctype html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Dylan's Recipes</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body>

<header>
	<nav>
		<ul>
			<li><a href="\">Home</a></li>
			<li><a href="#aboutmebot">About</a></li>
			<li><a href="#contactbot">Contact</a></li>
		</ul>
	</nav>
</header>

<section class="home-recipes">
	<div class="container">
		 <h1 class="title">A collection of recipes
		 	<span>for cooks of all ages</span>
		 </h1>
		 <a href="#someofmywork" class="button button-accent">See My Work</a>
	 </div>
</section>

<div class="container">
<section class="home-about">
	
<div class="home-about-textbox">
	<h1>Who Am I</h1>
	<p>I am an experienced home cook <strong>with 12 years of experience</strong></p>
	<p>I have made many <strong>dishes from many cultures</strong> and want to share my experiences here.</p>
</div>

</section>
</div>

<section class="recipe-portfolio">
	<h1 name = "someofmywork" id = "someofmywork">Some of my work</h1>

	<!-- recipe item 01 --->
	<figure class="recipe">
		<img src="wontons.png" alt = "wontons image">
		<figcaption class="recipe-desc">
			<p id = "why">Chinese Wontons</p>
			<a href="/recipes/wontons" class="button button-accent button-small">Full recipe</a>
		</figcaption>
	</figure>
	
	<!-- recipe item 02 --->
	<figure class="recipe">
		<img src="shrimpwrap.png" alt = "shrimp wrap image">
		<figcaption class="recipe-desc">
			<p>Shrimp Wraps</p>
			<a href="/recipes/shrimpwraps" class="button button-accent button-small">Full recipe</a>
		</figcaption>
	</figure>

	<!-- recipe item 03 --->
	<figure class="recipe">
		<img src="lasagna.png" alt = "lasagna image">
		<figcaption class="recipe-desc">
			<p>Lasagna</p>
			<a href="/recipes/lasagna" class="button button-accent button-small">Full recipe</a>
		</figcaption>
	</figure>

	<!-- recipe item 04 --->
	<figure class="recipe">
		<img src="eggtarts.png" alt = "egg tarts image">
		<figcaption class="recipe-desc">
			<p>Hong Kong Egg Tarts</p>
			<a href="/recipes/eggtarts" class="button button-accent button-small">Full recipe</a>
		</figcaption>
	</figure>

	<!-- recipe item 05 --->
	<figure class="recipe">
		<img src="pizza.png" alt = "pizza image">
		<figcaption class="recipe-desc">
			<p>Pizza</p>
			<a href="/recipes/pizza" class="button button-accent button-small">Full recipe</a>
		</figcaption>
	</figure>

	<!-- recipe item 06 --->
	<figure class="recipe">
		<img src="baozi.png" alt = "baozi image">
		<figcaption class="recipe-desc">
			<p>Baozi</p>
			<a href="/recipes/baozi" class="button button-accent button-small">Full recipe</a>
		</figcaption>
	</figure>

</section>

<section class="cta"> 
	<div>
		 <h1 class="title title-cta">Like what you see?
		 	<span>Then what are you waiting for?</span>
			 <span>Start cooking today!</span>
		 </h1>
		 <!--<a href="" class="button button-dark">Hire me</a> -->
	 </div>

</section>


<footer>
 <div class = "container">
	<div class = "col-3">
		<h2 name = "aboutmebot" id = "aboutmebot" style="color: #7EF36F;">About Me</h2>
		<p>Dylan is a computer science sophomore at the University of Waterloo. He made this project to display his favourite recipes, learn more 
			about web development and practice his coding skills. He used Node.js, Express.js, and MongoDB to build this website with his original recipes
			and images. <br>
		</p>
		<h2 name = "contactbot" id = "contactbot" style="color: #7EF36F;"><strong>Contact Me</strong></h1>
		<p>
			You can email me at d29xiao@uwaterloo.ca or message me on <a href = "https://www.linkedin.com/in/dylanx" 
			target="_blank" rel="noopener noreferrer" style="color: #FFF;">LinkedIn</a>. Also, feel free to check out 
			my other projects on <a href = "https://www.github.com/quarterdill" 
			target="_blank" rel="noopener noreferrer" style="color: #FFF;">GitHub</a>.
		</p>
	</div>

	<div class="col-1"> 
		<ul class="unstyled-list">
			<li><h2 style="color: #7EF36F;">Locations</h2></li>
			<li>Toronto</li>
			<br>
			<li>Waterloo</li>
			<br>
			<li>Cali (Coming soon)</li>
		</ul>
	</div>
</div>
</footer>

</body>
</html>